/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204)
}
h1,h2{
	text-align:center;
}
h2{
	margin-top:0px;
}
.SongsLink{
	border: 2px solid black;
	border-radius:5px;
	background-color:white;
	text-align: left;
	padding-left:0px;
	padding-bottom:15px;
	margin-bottom:0px;

}

li{
	list-style-type: none;
	
}
a{
	text-decoration-line: none;
	color:black;
}

.Video{
	border: 2px solid black;
	border-radius:5px;
	height:80%;
	margin-left:5%;
	width:90%;
	background-color:white;
}
#Video1{
	justify-content:center;
	align-items: center;
	width:95%;
	margin-top:10px ;
}
body{
	text-align:center;
}
p{
text-align:left;
margin-left:20px;
text:bold;
}
audio{
	width:95%;
}