body {
  background-color: rgb(204,204,204);
}
h1, h2 {
  text-align: center;
}
h2 {
  margin-top: 0px;
}
.SongsLink {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}
li {
  list-style-type: none;
}
a {
  text-decoration-line: none;
  color: black;
}
.player_one,
.player_two {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(255,255,255);
  padding: 20px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 24px;
}
video, audio {
  display: block;
  margin: 0 auto 12px auto;
  background-color: rgb(255,255,255);
  border-radius: 10px;
}